<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v13.0" nonce="p7jP4XcU"></script>

<!-- Your like button code -->
<div class="fb-like"
     data-href="{{ options.url }}"
     data-layout="{{ options.layout }}"
     data-size="{{ options.size }}"
     data-width="{{ options.width }}"
     data-action="{{ options.action }}"
     data-share="{{ options.share }}"
     data-ref="{{ options.ref }}"
     data-colorscheme="{{ options.colorscheme }}"
     data-lazy="{{ options.lazy }}"
     data-kid-directed-site="{{ options.kid_directed_site }}"
>
</div>

